<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close"></ion-icon>
        Discard
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let img of images; let i = index">

      <ion-fab vertical="top" horizontal="end" slor="fixed">
        <ion-fab-button color="light" (click)="removeImage(i)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <img [src]="img.path" (click)="openPreview(i)">

    </ion-slide>
  </ion-slides>

  <ion-button expand="block" fill="outline" (click)="selectSource()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Add another image
  </ion-button>

  <form [formGroup]="memoryForm" (ngSubmit)="saveMemory()">

    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime formControlName="date" displayFormat="MM/DD/YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Book color</ion-label>
      <ion-row class="color-row">
        <ion-col size="3" class="color-col" *ngFor="let col of colors" [style.background]="col"
          [class.selected]="col == memoryForm.get('color').value" tappable (click)="setColor(col)"></ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="text" rows="6" placeholder="Ehat happened on that date?"></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!memoryForm.valid || images.length == 0">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      Save Memory
    </ion-button>

  </form>

</ion-content>